PORT=3000

# 1. Local PostgreSQL (No SSL required):
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/playground_api?schema=public"

# 2. Neon Cloud PostgreSQL (SSL IS REQUIRED when connecting to Neon from localhost or production):
DATABASE_URL="postgresql://neondb_owner:<YOUR_PASSWORD>@ep-blue-glade-avfxgprc.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require"

IP_HASH_SALT="your_secret_salt_here"
TRUST_PROXY=false
NODE_ENV=development